<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>主页</title>
    <link rel="shortcut icon" href="favicon.ico">
    <style>
    	html {
    		width: 100%;
        	height: 100%;
    	}
        body {
        	width: 100%;
        	height: 100%;
        	overflow: hidden;
        	background: #e5e8ec;
        }
        body .title {
        	width: 690px;
        	margin: 5% auto 0;
        	font-family: "Microsoft YaHei" ! important;
        }
    </style>
</head>

<body>
	<div class="title">
		<img src="img/index_bg.png" width="100%">
		
		<h1 style="width: 100%;text-align: center;color:#3F4F65;font-weight: 200;margin-bottom:0;">
			<b style="margin-right: 10px;">欢迎使用</b>进出口许可证月度统计快报系统
		</h1>
		<h3 style="width: 100%;text-align: center;color:#3F4F65;letter-spacing: 1px;font-size:14px;font-weight: 200;margin-top:5px;">Wellcome To Use  Monthly statistical express system for import and export license</h3>
	</div>
</body>
</html>
